<table style="width: 100%; border: 1px;">
  <tr>
    <th>Season</th>
    <th>Home Team</th>
    <th></th>
    <th>Away Team</th>
    <th></th>
    <th>Date</th>
  </tr>
  <%= for game <- @games do %>
    <tr>
      <td><%= game.season %></td>
      <td><%= game.hometeam %></td>
      <td><%= game.fthg %></td>
      <td><%= game.awayteam %></td>
      <td><%= game.ftag %></td>
      <td><%= game.date %></td>
    </tr>
  <% end %>
</table>